.maindiv{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.formdiv{
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 90vh;
    width: 70vh;
}

.signup{
    border: 1px solid black;
    width: 90%;    
    height: 100px;
}

.names{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 70px;
    
}

.names input{
    border: 1px solid rgba(0, 0, 0, 0.303);
    background-color: #e6e6e690;
    border-radius: 6px;
    height: 60%;
    width: 45%;
    
}

.email{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70px;
}

.email input{
    border: 1px solid rgba(0, 0, 0, 0.303);
    background-color: #e6e6e690;
    border-radius: 6px;
    height: 60%;
    width: 94%;
}

.password{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70px;
}

.password input{
    border: 1px solid rgba(0, 0, 0, 0.303);
    background-color: #e6e6e690;
    border-radius: 6px;
    height: 60%;
    width: 94%;
}

.date{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 70px;
}

.date input{
    border: 1px solid rgba(0, 0, 0, 0.303);
    background-color: #e6e6e690;
    border-radius: 6px;
    height: 60%;
    width: 94%;
}

.gender{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 70px;
}

.gender div{
    border: 1px solid rgba(0, 0, 0, 0.303);
    background-color: #e6e6e690;
    border-radius: 6px;    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
}

.information{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
    height: 70px;
}